.footer{
    background-color: black;
    color: white;
}

.footer h6 {
    font-size: 25px;
    
}

.footer p {
    line-height: 20px;
}


.footer a {
    color: white;
    text-decoration: none;
}

.footer i {
    font-size: 20px;
    margin: 8px;
    cursor: pointer;
}
.copyright{
    color: rgb(183, 183, 183);
}
 p span{
    cursor: pointer;
 }
