.contact_card {
    text-align: center;
    background-color: #27635e;
    margin-top: 10px;
}

.contact_icon {
    font-size: 40px;
    color: white;
}

.contact_card h2,
.contact_card h2 a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.sub_heading {
    text-align: center;

}

.sub_heading h3 {
    font-weight: lighter;
    color: #FFF55B;
    font-size: 22px;
}

.sub_heading h2 {
    color: #fff;
    font-weight: bold;
}