
.service_tagline{
    color: white;
    font-size: 50px;
    // text-align: center;
}
.serv{
    background: linear-gradient(to right, #7f015b, #0B0140);
}
.service_tagline_content{
    color: white;
    font-size: 20px;
}
.tag_image{
    width: 100%;
    height: 100%;
}

.service_item{
    color: white;
    font-size: 20px;
    background-color: #6A014C;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.services_details{
    text-align: center;
    color: white;
}
.content{
    text-align: left;
}
.sub_heading{
    font-size: 20px;
}