

// .serv{
//       background-color: #27635e; 
// }
.service_item{
    color: white;
    font-size: 20px;
    background-color: #27635e;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.services_details{
    text-align: center;
    color: white;
}
.content{
    text-align: left;
}
.sub_heading{
    font-size: 20px;
}