/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(to right, #6A014C, #0B0140);
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    // background-repeat: no-repeat;
}
